name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    # https://developer.github.com/webhooks/event-payloads/
    if: "!contains(github.event.head_commit.message, 'skipci')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          # source: https://github.com/lerna/lerna/issues/2542, https://stackoverflow.com/a/60184319/6817437
          fetch-depth: '0'

      - name: Setup Git
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install
        run: npm ci && npm run setup

      - name: Lint
        run: npm run lint

      - name: Test
        uses: mattallty/jest-github-action@v1
        with:
          test-command: npm run test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: npm run build

      - name: Release
        if: "!contains(github.event.head_commit.message, 'norelease')"
        run: npm run version
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish (NPM)
        if: "!contains(github.event.head_commit.message, 'norelease')"
        run: npm run publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # source: https://github.com/tschaub/gh-pages/issues/345#issuecomment-608243163
      - name: Deploy site
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npm run deploy -- -u "$GITHUB_ACTOR@users.noreply.github.com"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #
      # - name: Setup (GH package registry)
      #   uses: actions/setup-node@v1
      #   with:
      #     registry-url: 'https://npm.pkg.github.com'
      # - name: Publish (GitHub)
      #   run: |
      #     cd packages/react-cooked-bread
      #     npm publish
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
